body{
    overflow-x: hidden;
}

#logocontainer{
    background-color: white;
    position: absolute;
    top: 30px;
    left: 75px;
    height: 65px;
    width: 200px;
    box-shadow: 10px 10px 10px  #888888;
    border: 2px solid black;
    padding: 0.5em;
}

#headerwrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    overflow: hidden;
    /* border: 2px solid black; */
    background-image: url("images/banner.png");
    box-shadow: 0px 10px 10px  #888888;
}

#criticalinformation{
    position: absolute;
    top: 30px;
    right: 75px;
    padding: 0.5em;
    background-color: white;
    border: 2px solid black;
    box-shadow: -10px 10px 10px  #888888;

}

#redtext{
    color: red;
}

#orangetext{
    color: orange;
}

#greentext{
    color: darkgreen;
}

#switchcontrolcontainer{
    position: absolute;
    top: 150px;
    left: 15%;
    right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10%;
}

.individualswitchcontrol{
    border-radius: 16px;
    padding: 2em;
    border: 1px solid red;
    text-align: center;
    box-shadow: 10px 10px 10px  #888888;
}
.boxtitle{
    font-size: 30px;
    margin-top: 0;
}

.switchbutton{
    width: 100%;
    font-size: 24px;
    border-radius: 16px;
    padding: 15px 32px 15px 32px;
    text-align: left;
    box-shadow: 5px 5px 5px  #888888;
}

.redbutton{
    border: 2px solid rgb(255, 0, 0);
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255, 0, 0, 1) 80%);
}

.greenbutton{
    border: 2px solid rgb(0, 255, 0);
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(0, 255, 0, 1) 80%);
}

#logs{
    position: absolute;
    bottom: 40px;
    top: 460px;
    overflow-y: scroll;
    left: 15%;
    right: 15%;
    border: 2px solid black;
    padding: 1em;
    border-radius: 16px;
    box-shadow: 10px 10px 10px  #888888;
}

.logtext{
    padding: 0px;
    margin: 5px;
}

#powersupplycontainer{
    position: absolute;
    right: 0;
    top: 45%;
    color: white;
    background-color: deepskyblue;
    padding: 0.5em;
    text-align: center;
    font-size: 20px;
    border-radius: 8px 0 0 8px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -10px 10px 10px  #888888;
}